.timerValue {
    margin: 100px auto;
    width: 400px;
    height: 300px;
    border: 4px solid orange;
    text-align: center;
    background-color: forestgreen;
    color: white;
}

.timerValue .scoreboard {
    border: 2px solid orange;
    margin: 10px;
    font-size: 80px;
}
.timerValue .scoreboard h3 {
    margin: 30px;
}

.timerValue .scoreboard .editMode{
    border: 2px solid orange;
    margin: 63px;
    font-size: 40px;
}

.timerValue .scoreboard .red {
    color: darkred;
}

.timerValue .buttons {
    display: flex;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.timerValue .button {
    padding-left: 80px;
}

.timerValue .buttons button {
    width: 70px;
    height: 50px;
    text-align: center;
    padding: 5px;
}